/*
 Ulysses WordPress Preview: WP Twenty Ten
 */

* {
	-webkit-text-size-adjust:	none;
	-webkit-font-smoothing: 	antialiased;
	text-rendering: 			optimizelegibility !important;
}

body {
	color: #000000;
	font-family: Georgia, "Bitstream Charter", serif;
	line-height: 24px;
	background: #ffffff;
	margin: 36px auto;
	max-width: 80%;
	clear: both;
}

p, figure {
	margin: 0 0 24px 0;
}

figcaption {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}

.entry-title {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
}

.entry-title a {
	text-decoration: none;
}

.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}

hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 24px;
}

em, cite {
	font-style: italic;
}

strong {
	font-weight: bold;
}

small {
	font-size: smaller;
}

sub, sup {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sub {
	top: .5ex;
}

sup {
	bottom: 1ex;
}

a:link {
	color: #0066cc;
}

a:visited {
	color: #743399;
}

a:active,
a:hover {
	color: #ff4b33;
}

ul, ol {
	margin: 0 0 24px 1.5em;
	padding: 0;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}

blockquote {
	quotes: none;
	margin: 0;
	font-style: italic;
	padding: 0 3em;
}

blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 13px;
	-webkit-text-size-adjust: 160%;
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 24px;
	overflow: auto;
	padding: 1.5em;
	font-size: 15px;
	line-height: 21px;
	-webkit-text-size-adjust: 140%;
}

img {
	max-width: 100%;
	height: auto;
}

a img {
	border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}

th {
	color: #000;
}

tr th, thead th {
	color: #777;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}

tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
